:root{
  --sage:#8a8f6a;
  --cream:#e6dbc6;
  --ink:#6a563f;
}

/* GLOBAL */

body{
  margin:0;
  background:var(--cream);
  font-family:"Libre Baskerville", serif;
  color:var(--ink);
  text-align:center;
}

h1,h2,h3{
  font-family:"Cormorant Garamond", serif;
}


/* HEADER */

.top-header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:20px 60px;
  background:var(--cream);
}

.header-left,
.header-right{
  display:flex;
  gap:18px;
}

.top-header img{
  width:28px;
}

.logo img{
  width:600px;
}


/* NAV */

.main-nav{
  background:var(--sage);
  padding:14px 0;
}

.main-nav a{
  color:white;
  text-decoration:none;
  margin:0 30px;
  font-size:18px;
  letter-spacing:1px;
}


/* PAGE CONTAINER */

.page{
  max-width:1500px;
  margin:auto;
  min-height:100vh;
  padding-bottom:50px;

  background:
    url("assets/pattern.png") left top repeat-y,
    url("assets/pattern.png") right top repeat-y,
    var(--cream);

  background-size:
    280px auto,
    280px auto;
}


/* IMPACT BANNER */

.impact-banner{
  margin:35px 0;
}

.impact-banner img{
  width:600px;
  max-width:90%;
}


/* HERO */

.hero{
  max-width:1100px;
  margin:auto;
}

.hero-text{
  font-size:26px;
  margin-bottom:35px;
}


/* SALE IMAGE */

.sale-card{
  margin:25px 0;
}

.sale-card img{
  width:650px;
  max-width:90%;
  border-radius:18px;
}


/* SHOP BUTTON */

.shop-btn{
  display:inline-block;
  background:var(--sage);
  color:white;
  padding:16px 40px;
  border-radius:30px;
  text-decoration:none;
  margin-top:25px;
  font-size:18px;
}


/* COLLECTIONS */

.collections{
  margin-top:80px;
}

.collection-grid{
  display:flex;
  justify-content:center;
  gap:90px;
  margin-top:40px;
}

.collection-card img{
  width:320px;
  border-radius:18px;
}

.collection-card p{
  font-size:22px;
  margin-top:10px;
}

/* CONTACT FORM */

.contact-form{
  max-width:600px;
  margin:50px auto;
  display:flex;
  flex-direction:column;
  gap:15px;
  text-align:left;
}

.contact-form input,
.contact-form textarea{
  padding:12px;
  border-radius:10px;
  border:1px solid rgba(0,0,0,.15);
  font-family:"Libre Baskerville", serif;
}

.contact-form button{
  background:var(--sage);
  color:white;
  border:none;
  padding:14px;
  border-radius:30px;
  font-size:16px;
  cursor:pointer;
}

/* FOOTER */

.footer-links{
  margin-top:90px;
}

.footer-grid{
  display:flex;
  justify-content:center;
  gap:140px;
  margin-top:30px;
}

.footer-grid a{
  display:block;
  color:var(--ink);
  margin:10px 0;
  text-decoration:none;
}


/* SOCIAL */

.social-footer{
  margin-top:70px;
  padding-bottom:50px;
}

.social-grid{
  display:flex;
  justify-content:center;
  gap:140px;
  margin-top:30px;
}

.social-grid img{
  width:52px;
}
